body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

.content p{
    font-size: 17px;
}
.content{
    margin-top: 200px;
    margin-left: 550px;
    margin-right: 80px;
}
img{
    width: 350px;
    margin-left: 150px;
    margin-top: -50px;
    float: left;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 20px;
}
footer{
    margin-top: 320px;
    background-color: #0ea5e9;
    color: #fff;
    padding: 0.1px;
    text-align: center;
    font-size: 15px;

}
header{
    
    position: fixed;
    background:#0ea5e9;
    top: 0;
    left: 0;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
}
header .logo{
    color: rgb(255, 255, 255);
    height: 60px;
    line-height: 80px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    margin-left: 25px;
}
header nav {
    float: right;
    
    
}
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    
}
header nav ul li{
    list-style: none;
    margin-right: 5px;
    
}
header nav ul li a{
    color: rgb(255, 255, 255);
    height: 60px;
    line-height: 80px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
    height: 80px;
}
header nav ul li a:hover,
header nav ul li a.active {
    color: #ffffff;
    background-color: #2592c0;

}
.menu-toggle {
    color: rgb(255, 255, 255);
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    margin-top: 15px;
}

/* Aturan Media Query Responsif */
@media (max-width: 650px) {
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: auto; 
        background: #0c4a6e;
        top: 50px;
        left: -100%;
        transition: 0.5s all;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        color: #fff;
    }

    .content {
        margin: 20px auto; 
        max-width: 90%; 
        margin-left: 40px;
 
    }

    img {
        max-width: 100%; 
        margin-left: 30px;
        margin-top: 100px;
        padding: 10px;
    }
}
